.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 83px;
  background-color: pink;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: aqua;
}

.header__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__empty {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.header__contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
