.main-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picture-in-picture {
  max-height: 95%;
  margin-right: 20%;
}

.header {
  position: absolute;
  width: 100%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 83px;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__empty {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.header__contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
