.header {
	&__top {
		display: flex;
		height: 83px;
		background-color: pink;
	}
	&__logo {
		flex: 1;
		background-color: aqua;
	}
	&__description {
		flex: 1;
	}
	&__empty {
		flex: 3;
	}
	&__contacts {
		flex: 1;
	}
}
